bin
build
lib
tags
*.swp
*.swo
*.pyc
thesis/*.aux
thesis/*.pdf
thesis/*.glo
thesis/*.toc
thesis/*.log
thesis/*.out
thesis/components/*.log
thesis/*.glg
thesis/*.gls
thesis/*.ilg
thesis/*.ind
thesis/*.ist
