<launch>
  <node pkg="clutseg" type="clutsegmenter_node" name="clutsegmenter_node" output="screen" respawn="true">
    <param name="modelbase" value="$(find clutseg)/data/orb.tar"/>
    <param name="camera_info" value="$(find clutseg)/data/camera.yml"/>
    <param name="input_cloud_topic" value="/camera/depth/points"/>
    <param name="input_image_topic" value="/camera/rgb/image_color"/>
</node>
</launch>
